textarea, select {
    border: 1px solid #555;
    padding: 0.5em;
    font-size: 8px;
    line-height: 1.2em;
    width: 70%;
    height: 300px;
    background: #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ccc));
    -webkit-appearance: none;
    -webkit-box-shadow: 1px 1px 1px #fff;
    -webkit-border-radius: 0.5em;
}

#headerdiv {
    text-align: center;
    background: lightblue;
    font-size: 20px;

}
.instructions{
    text-align: center;
    background: lightblue;
    font-size: 10px;
    padding: 10px;
}
.content {
    text-align: left;
    font-size: 10px;

}
